* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
}

body {
  background-color: #9ba2b7;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

#landing-jumbo {
  color: white;
  margin-bottom: 0;
  background: #252934;
  background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
  overflow-x: hidden;
}

.landing-headings {
  color: white;
}

#landing-jumbo h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

span {
  /*color: #dc1f6b;*/
  color: #e4b431;
  font-weight: bolder;
}

#landing-jumbo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icon-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}

.fab,
.fas {
  font-size: 40px;
  margin: 20px;
}

.fab:hover,
.fab:active,
.fab:focus,
.fas:hover,
.fas:active,
.fas:focus {
  transform: scale(1.2);
}

#arrow {
  margin-top: 0;
}

.container-fluid {
  padding: 0;
}

nav {
  background-color: #1f222b;
  border-top: 2px solid #b5bac9;
}

nav li {
  color: white;
}

ul {
  list-style: none;
}

#main-section,
#projects,
#contact {
  margin-top: 0;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sections {
  background-color: rgb(249, 253, 254, 0.3);
  border-radius: 10px !important;
}

.big-sections {
  font-family: "Kanit", sans-serif;
  text-align: center;
  color: #232323;
  font-weight: bold;
}

#profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-picture-img {
  width: 250px;
  height: auto;
  border-radius: 10px !important;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

#skill {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-images img {
  width: auto;
  height: 100px;
}

.container-modified {
  border-radius: 10px;
  background-color: rgb(249, 253, 254, 0.4);
}

.container-modified:hover {
  background-color: #c3cbcd;
}

.margin-reset {
  margin: 0;
}

.width-customize {
  height: 30px !important;
}

.line-height-modify {
  height: 50px;
}

.subheadings {
  color: #333333;
}

.heading-center {
  text-align: center;
}

.tech-stack {
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.class-group {
  margin-bottom: 20px;
}

.card {
  background-color: rgb(249, 253, 254, 0.3);
  border-radius: 10px;
}

.card:hover {
  background-color: #c3cbcd;
}

.card-body {
  color: #232323 !important;
}

.card-img-top {
  border: 2px solid rgb(75, 75, 75, 0.4);
}

section h2 {
  text-align: center;
}

.email-contact {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  height: 30vh;
}

input,
textarea,
.btn,
#map {
  border-radius: 10px !important;
  border: none;
}

#visit-me {
  margin-top: 7vh;
}

footer {
  padding: 2vh;
  background-color: #1f222b;
  border-top: 2px solid #b5bac9;
  text-align: center;
}

.footer-text {
  margin: 0;
}

#icon-attr {
  font-size: 0.5em;
}
